#label {
    position: absolute;
    width: auto;
    color: rgba(255,255,255,0.4);
    bottom: 100px;
    left: 50%;
    transform: translate(-50%);
    font-size: 32px;
    padding: 7px;
    user-select: none;
    cursor: default;
}
#label:hover {
    color: #fff;
}
#area-panel {
    position: absolute;
    line-height: 30px;
    color: #fff;
    top: 10px;
    left: 10px;
    user-select: none;
}
#area-panel > div:hover {
    cursor: pointer;
    color: #c00;
}
#playCtrl {
    position: absolute;
    left: calc(12.5% - 64px);
    bottom: calc(7% - 24px);
    z-index: 1;
    cursor: pointer;
}
#playCtrl > svg {
    width: 64px;
    height: 64px;
    fill: #fff;
}
#bar {
    position: absolute;
    z-index: 1;
    left: 12.5%;
    bottom: 7%;
    width: 75%;
}
input[type=range] {
    background: none;
    outline: none;
    opacity: .6;
}
input[type=range]:hover {
    opacity: 1;
}
