.slp {
	background: linear-gradient(to bottom, #ff4040, #ffa540, #ffff40, #40ff40, #804080, #ff40ff);
}
.slp > #legend-text > span:nth-child(2){
	display: block;
	line-height: calc( 250px/5);
}
.slp > #legend-unit > span:nth-child(2) {
	display: block;
}

#legend {
	position: absolute;
	width: 22px; height: 250px;
	bottom: 10%; right: 25px;
	color: #fff;
}
#legend-text {
	position: absolute;
	width: 0; height: 100%;
	left: -40px;
	line-height: 250px; vertical-align: middle;

	font-size: 16px;
}
#legend-text > span {
	display: none;
}
#legend-unit {
	position: absolute;
	top: -18px; left: -9px;

	font-size: 12px;
}
#legend-unit > span {
	display: none;
}
